{% extends "base.html.twig" %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Hasło wygasło? Wypełnij poniższy formularz aby zmienić hasło na nowe
        </div>
        <div class="card-body">
            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>
{% endblock %}