{% extends "base.html.twig" %}

{% block title %}Przypomnienie hasła{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">Nie pamiętasz hasła? Wypełnij formularz a link do zmiany hasła zostanie wysłany na twój adres email</div>
        <div class="card-body">
            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>
{% endblock %}