{% extends "base.html.twig" %}

{% block title %}Hasło zresetowane{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">Sukces!</div>
        <div class="card-body">
            <p>Na twój adres email został wysłany link do formularza zmiany hasła.</p>
            <p>Jeżeli wiadomość nie dotarła sprawdź folder spam</p>
        </div>
    </div>
{% endblock %}