.panel {
    color: seagreen;
}

.card-block {
    font-size: 5rem;
    min-height: 10rem;
}

.card-body {
    padding: 0px;
}

.card-footer {
    text-decoration: none;
    color: dimgrey;
    height: 5rem;
}