{% extends "h_split.html.twig" %}

{% block title %}Wnioski urlopowe{% endblock %}

{% block head %}
    <div class="row">
        <div class="col-12">
            <a href="{{ path("panel") }}">
                <button class="btn btn-primary" title="Powrót">
                    <i class="fas fa-reply"></i>
                </button>
            </a>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row filters" style="visibility: hidden;">
        <div class="col-md-2">
            <div>
                <div class="row">
                    <div class="col-md-8 offset-md-4">{{ form_errors(form.year) }}</div>
                    <div class="col-md-8 offset-md-4 text-center">{{ form_label(form.year) }}</div>
                    <div class="col-md-8 offset-md-4">{{ form_widget(form.year) }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <div class="row">
                    <div class="col-md-12">{{ form_errors(form.user) }}</div>
                    <div class="col-md-12 text-center">{{ form_label(form.user) }}</div>
                    <div class="col-md-12">{{ form_widget(form.user) }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">{{ form_errors(form.type) }}</div>
                <div class="col-md-12 text-center">{{ form_label(form.type) }}</div>
                <div class="col-md-12">{{ form_widget(form.type) }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">{{ form_errors(form.status) }}</div>
                <div class="col-md-12 text-center">{{ form_label(form.status) }}</div>
                <div class="col-md-12">{{ form_widget(form.status) }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 d-flex">&nbsp;</div>
                <div class="col-md-12 d-flex">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block rest %}
    {% if a is not empty %}
        <table class="table table-hover">
            <thead class="thead-light">
            <th class="text-center align-middle">Użytkownik</th>
            <th class="text-center align-middle">Typ</th>
            <th class="text-center align-middle">Data złożenia</th>
            <th class="text-center align-middle">Od</th>
            <th class="text-center align-middle">Do</th>
            <th class="text-center align-middle">Dni</th>
            <th class="text-center align-middle">Status</th>
            <th class="text-center align-middle">Data zmiany statusu</th>
            <th class="text-center align-middle">Komentarz pracownika</th>
            <th class="text-center align-middle">Moje uwagi</th>
            <th class="text-center align-middle">Akcja</th>
            </thead>
            <tbody>
            {% for ab in a %}
                <tr>
                    <td>{{ ab.user.surname }} {{ ab.user.name }}</td>
                    <td style="cursor: help;" class="text-center align-middle" title="{{ ab.type.description }}">{{ ab.type.code }}</td>
                    <td class="text-center align-middle text-nowrap">{{ ab.createDate | date('Y-m-d H:i') }}</td>
                    <td class="text-center align-middle text-nowrap">{{ ab.fromDate | date('Y-m-d') }}</td>
                    <td class="text-center align-middle text-nowrap">{{ ab.toDate | date('Y-m-d') }}</td>
                    <td class="text-center align-middle">{{ ab.days }}</td>
                    <td class="text-center align-middle {{ statusStyle(ab.status.name) }}">{{ ab.status.description }}</td>
                    <td class="text-center align-middle text-nowrap">
                        {% if ab.statusChangeDate is not empty %}
                            {{ ab.statusChangeDate | date('Y-m-d H:i') }}
                        {%  else %}---
                        {% endif %}
                    </td>
                    <td class="text-right align-middle">{{ ab.commentary }}</td>
                    <td class="text-center align-middle">
                        {% if ab.rejectedReason is not empty %}
                            {{ ab.rejectedReason }}
                        {%  else %}---
                        {% endif %}
                    </td>
                    <td class="text-center align-middle text-nowrap">
                        {% if ab.status.name == 'pending' %}
                            <a href="{{ path("absence_action", {'id' : ab.id, 'status_id' : 3}) }}">
                                <button class="btn btn-success" title="Akceptuj">
                                    <i class="fas fa-thumbs-up"></i>
                                </button>
                            </a>
                            <a href="{{ path("absence_action", {'id' : ab.id, 'status_id': 2})  }}">
                                <button type="button" class="btn btn-danger" title="Odrzuć">
                                    <i class="fas fa-thumbs-down"></i>
                                </button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">Brak wniosków dla wybranych kryteriów</div>
    {% endif %}
{% endblock %}
