{% extends "h_split.html.twig" %}

{% block title %}Limity urlopów{% endblock %}

{% block head %}
    <a href="{{ path("panel") }}">
        <button class="btn btn-primary" title="Powrót">
            <i class="fas fa-reply"></i>
        </button>
    </a>
{% endblock %}

{% block rest %}
    {% if users is empty %}
        <div class="alert alert-danger">Brak podwładnych</div>
    {% elseif aDict is empty %}
        <div class="alert alert-danger">Brak nieobecności wymagających limitu w słowniku</div>
    {%  else %}
        <table class="table table-bordered table-hover d-none">
            <thead class="thead-light">
            <tr>
                <th rowspan="3" class="text-center align-middle">Pracownik</th>
            </tr>
            <tr>
                {% for ad in aDict %}
                    <th colspan="3" class="text-center">{{ ad.description }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for ad in aDict %}
                    <th class="text-center">Limit</th>
                    <th class="text-center">Dni na wnioskach</th>
                    <th class="text-center">Zostało do wybrania</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.surname }} {{ u.name }}</td>
                    {% for ad in aDict %}
                        <td class="text-right">
                            {% if lSum[u.id][ad.id] is defined %}
                                {{ lSum[u.id][ad.id] }}
                            {% else %}
                                nie ustawiono
                            {%  endif %}
                        </td>
                        <td class="text-right">
                            {% if aSum[u.id][ad.id] is defined %}
                                {{ aSum[u.id][ad.id] }}
                            {% else %}
                                0
                            {%  endif %}
                        </td>
                        <td class="text-right text-success font-weight-bold">
                            {% if lSum[u.id][ad.id] is defined and aSum[u.id][ad.id] is defined %}
                                {{ lSum[u.id][ad.id] - aSum[u.id][ad.id] }}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor  %}
            </tbody>
        </table>

        {% for ad in aDict %}
            <div class="m-3">
                <div class="row bg-light font-weight-bold">
                    <div class="col-12 border p-2 text-center">{{ ad.description }}</div>
                </div>
                <div class="row text-center bg-light font-weight-bold">
                    <div class="col-6 p-2 border ">Pracownik</div>
                    <div class="col-2 p-2 border" data-toggle="tooltip" title="Limit">Lim</div>
                    <div class="col-2 p-2 border" data-toggle="tooltip" title="Suma dni na wnioskach">&sum;</div>
                    <div class="col-2 p-2 border" data-toggle="tooltip" title="Różnica pomiędzy limitem a sumą dni na wnioskach">Zostało</div>
                </div>
                {% for u in users %}
                    <div class="row">
                        <div class="col-6 p-1 border">{{ u.surname }} {{ u.name }}</div>
                        <div class="col-2 p-1 border text-right">
                            {% if lSum[u.id][ad.id] is defined %}
                                {{ lSum[u.id][ad.id] }}
                            {% else %}
                                brak
                            {%  endif %}
                        </div>
                        <div class="col-2 p-1 border text-right">
                            {% if aSum[u.id][ad.id] is defined %}
                                {{ aSum[u.id][ad.id] }}
                            {% else %}
                                0
                            {%  endif %}
                        </div>
                        <div class="col-2 p-1 border text-right text-success font-weight-bold">
                            {% if lSum[u.id][ad.id] is defined and aSum[u.id][ad.id] is defined %}
                                {{ lSum[u.id][ad.id] - aSum[u.id][ad.id] }}
                            {% else %}
                                ---
                            {% endif %}
                        </div>
                    </div>
                {% endfor  %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/superior_module/inferior_absence_limit.js') }}"></script>
{% endblock %}