<div class="card">
    <div  class="card-header text-center">
        <h5>Dodaj nowy typ nieobecności</h5>
    </div>
    <div class="card-body">
        {{ form(form) }}
    </div>
    <div class="card-footer">
        {% if message != '' %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
    </div>
</div>