<div class="card">
    <div  class="card-header text-center">
        Edycja nieobecności '{{ absence.description }}'
    </div>
    <div class="card-body">
        {{ form(form) }}
    </div>
    <div class="card-footer">
        {% if message != '' %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
    </div>
</div>
