{% extends "h_split.html.twig" %}

{% block title %}Słownik nieobecności{% endblock %}

{% block head %}
    <a href="{{ path("panel") }}">
        <button title="Powrót do widoku głównego" type="button" class="btn btn-primary">
            <i class="fas fa-reply"></i>
        </button>
    </a>
    <button
        type="button"
        title="Dodaj nowy typ"
        class="btn btn-success modal_action"
        data-toggle="modal"
        data-target="#dictModal"
        data-href="{{ path("absence_dict_new") }}"
    >
        <i class="fas fa-plus"></i>
        <span>Dodaj nowy typ</span>
    </button>
{% endblock %}

{% block rest %}
    {%  if absenceDict is not empty %}
        <table class="table table-bordered table-condensed">
            <thead class="thead-light">
                <tr>
                    <th class="text-center align-middle">Kod</th>
                    <th class="text-center align-middle">Nazwa</th>
                    <th class="text-center align-middle">Czy ma posiadać limit?</th>
                    <th class="text-center align-middle">Kolor</th>
                    <th class="text-center align-middle">Akcja</th>
                </tr>
            </thead>
        {% for absence in absenceDict %}
            <tr>
                <td>{{ absence.code }}</td>
                <td>{{ absence.description }}</td>
                <td class="text-center">{{ absence.limitable ? 'Tak':'Nie' }}</td>
                <td>
                    <div style="background: {{ absence.color }}">&nbsp;</div>
                </td>
                <td class="text-center">
                    <button type="button" title="Edytuj" class="btn btn-primary modal_action" data-toggle="tooltip" data-href="{{ path('absence_dict_edit', {'id' : absence.id}) }}">
                        <i class="fas fa-wrench"></i>
                    </button>
                    <a href="{{ path('absence_dict_delete', {'id' : absence.id}) }}">
                        <button type="button" title="Usuń" class="btn btn-danger" data-toggle="tooltip">
                            <i class="fas fa-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="panel panel-danger">
            <div class="card-header">
                Brak nieobecności w słowniku
            </div>
        </div>
    {% endif %}
    <div id="dictModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin_module/absence_dict.js') }}"></script>
{% endblock %}