{% extends "h_split.html.twig" %}

{% block title %}Limit nieobecności{% endblock %}

{% block head %}
    <a href="{{ path('absence_limits', {'year' : year}) }}">
        <button class="btn btn-primary" title="Powrót">
            <i class="fas fa-reply"></i>
        </button>
    </a>
{% endblock %}

{% block rest %}
    <div class="card">
        <div class="card-header">Limit dla nieobecności '{{ absenceType }}' dla użytkownika {{ userDescription }} na rok {{ year }}</div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock%}