{% extends "h_split.html.twig" %}

{% block title %}Limity urlopów{% endblock %}

{% block head %}
    <a href="{{ path("panel") }}" class="float-left">
        <button title="Powrót do widoku głównego" type="button" class="btn btn-primary">
            <i class="fas fa-reply"></i>
        </button>
    </a>
    <div class="float-left ml-5">
        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        <button type="submit" class="btn btn-success" title="Pokaż dane">
            <i class="fas fa-search"></i>
        </button>
        {{ form_end(filterForm) }}
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block rest %}
    {% if superiorCollection is not empty %}
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th rowspan="2" class="text-center align-middle">Hierarchia</th>
                <th colspan="{{ absenceDictCount * 2 }}" class="text-center">Limity urlopów</th>
            </tr>
            <tr class="bg-primary">
                {% for absenceType in absenceDict %}
                    <th class="text-center" title="{{ absenceType.description }}" data-toggle="tooltip">{{ absenceType.code }} (limit)</th>
                    <th class="text-center">Akcja</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for superior in superiorCollection %}
                <tr>
                    <td class="superior">{{ superior.surname }} {{ superior.name }}</td>
                    {% for absenceType in absenceDict  %}
                        <td class="superior"></td>
                        <td class="superior"></td>
                    {% endfor %}
                </tr>
                {% if superior.getInferior() is not empty %}
                    {% for  user in superior.getInferior() %}
                        <tr>
                            <td style="text-indent: 3em">{{ user.group.name }} - {{ user.surname }} {{ user.name }}</td>
                            {% for absenceType in absenceDict %}
                                {% if absenceLimit[user.id][absenceType.id]['limit'] is defined %}
                                    <td class="text-center">
                                        {{ absenceLimit[user.id][absenceType.id]['limit'] }}
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path("absence_limits_edit", {'id' : absenceLimit[user.id][absenceType.id]['id']}) }}">
                                            <button type="button" class="btn btn-success" data-toggle="tooltip" title="Edytuj">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>
                                        </a>
                                    </td>
                                {% else %}
                                    <td class="text-center">
                                        brak
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path("absence_limits_set", {'year' :  year, 'type' : absenceType.id, 'userId': user.id}) }}">
                                            <button type="button" class="btn btn-success" data-toggle="tooltip" title="Ustaw">
                                                <i class="fas fa-arrow-alt-circle-down"></i>
                                            </button>
                                        </a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {%  endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">Baza danych nie zawiera żadnych użytkowników</div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin_module/absence_limits.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin_module/absence_limits.js') }}"></script>
{% endblock %}