{% extends "h_split.html.twig" %}

{% block title %}Generuj kalendarz{% endblock %}

{% block head %}
    <a href="{{ path("panel") }}">
        <button class="btn btn-primary" title="Powrót">
            <i class="fas fa-reply"></i>
        </button>
    </a>
{% endblock %}

{% block rest %}
    <div class="card">
        <div class="card-header">Po wygenerowaniu kalendarza na dany rok można dopisać dodatkowe święta, które mają w danym roku występować (oprócz świąt stałych, generowanych na podstawie matrycy świąt)</div>
        <div class="card-body text-center">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br>
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-cogs"></i>
                    <span>Generuj kalendarz</span>
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}