{% extends "h_split.html.twig" %}

{% block title %}Słownik świąt{% endblock %}

{% block head %}
    <a href="{{ path("panel") }}" class="float-left">
        <button title="Powrót do widoku głównego" type="button" class="btn btn-primary">
            <i class="fas fa-reply"></i>
        </button>
    </a>
    {% if holidays is not empty %}
    <button
            class="btn btn-success tooltip-on modal_action float-left ml-2"
            title="Dodaj"
            data-toggle="modal"
            data-target="#holidayDictModal"
            data-href="{{ path("holiday_dict_add") }}"
            data-year="{{ year }}"
    >
        <i class="fas fa-plus-square"></i>
    </button>
    {% endif %}
    <div class="float-left ml-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success" title="Pokaż dane">
            <i class="fas fa-search"></i>
        </button>
        {{ form_end(form) }}
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block rest %}
    {% if holidays is empty %}
        <div class="alert alert-danger">Brak świąt w słowniku dla roku {{ year }}. Proszę najpierw wygenerować kalendarz dla roku {{ year }}</div>
    {% else %}
        <div class="m-3">
            <div class="row">
                <div class="col-12 border text-center bg-light p-3 font-weight-bold">Matryca zawiera święta o stałej dacie. Na tej podstawie generowany jest kalendarz</div>
            </div>
            <div class="row">
                <div class="col-2 col-md-1 bg-light p-3 border">Akcja</div>
                <div class="col-2 col-md-2 bg-light p-3 border">Dzień</div>
                <div class="col-6 col-md-9 bg-light p-3 border">Święto</div>
            </div>
            {% for h in holidays %}
                {% include '@AdminModule/holiday_dict_row.html.twig' with {'h' : h} %}
            {% endfor %}
        </div>
    {% endif %}
    <div id="holidayDictModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin_module/holiday_dict.js') }}"></script>
{% endblock %}