{% extends "h_split.html.twig" %}

{% block title %}Matryca świąt{% endblock %}

{% block head %}
    <a href="{{ path("panel") }}">
        <button class="btn btn-primary tooltip-on" title="Powrót">
            <i class="fas fa-reply"></i>
        </button>
    </a>
    <button
        class="btn btn-success tooltip-on modal_action"
        title="Dodaj"
        data-toggle="modal"
        data-target="#holidayMatrixModal"
        data-href="{{ path("holiday_matrix_add") }}"
    >
        <i class="fas fa-plus-square"></i>
    </button>
{% endblock %}

{% block rest %}
   {% if holidays is empty %}
       <div class="alert alert-danger">Brak świąt w matrycy</div>
   {% else %}
       <div class="m-3">
       <div class="row">
           <div class="col-12 border text-center bg-light p-3 font-weight-bold">Matryca zawiera święta o stałej dacie. Na tej podstawie generowany jest kalendarz</div>
       </div>
       <div class="row">
           <div class="col-2 col-md-1 bg-light p-3 border">Akcja</div>
           <div class="col-2 col-md-1 bg-light p-3 border">Miesiąc</div>
           <div class="col-2 col-md-1 bg-light p-3 border">Dzień</div>
           <div class="col-6 col-md-9 bg-light p-3 border">Święto</div>
       </div>
       {% for h in holidays %}
           {% include '@AdminModule/holiday_matrix_row.html.twig' with {'h' : h} %}
       {% endfor %}
       </div>
   {% endif %}
    <div id="holidayMatrixModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin_module/holiday_matrix.js') }}"></script>
{% endblock %}