<div class="row holiday_row" data-id="{{ h.id }}">
    <div class="col-2 col-md-1 border p-2 text-center">
        <button class="btn btn-danger delete tooltip-on" title="Usuń" data-href="{{ path('holiday_matrix_delete', {'id' : h.id }) }}" data-id="{{ h.id }}">
            <i class="fas fa-trash"></i>
        </button>
    </div>
    <div class="col-2 col-md-1 border p-2 text-right">{{ h.month }}</div>
    <div class="col-2 col-md-1 border p-2 text-right">{{ h.day }}</div>
    <div class="col-6 col-md-9 border p-2 text-left">{{ h.description }}</div>
</div>