<div class="row holiday_row" data-id="{{ h.id }}">
    <div class="col-2 col-md-1 border p-2 text-center">
        <button class="btn btn-danger delete tooltip-on" title="Usuń" data-href="{{ path('holiday_dict_delete', {'id' : h.id }) }}" data-id="{{ h.id }}">
            <i class="fas fa-trash"></i>
        </button>
    </div>
    <div class="col-3 col-md-2 border p-2 text-center">{{ h.day|date('Y-m-d')}}</div>
    <div class="col-7 col-md-9 border p-2 text-left">{{ h.description }}</div>
</div>