<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Dodaj nowe święto stałe
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-success" value="Dodaj">
                {{ form_end(form) }}
            </div>
            <div class="card-footer">
                {% if message != '' %}
                    <div class="alert alert-{{ class }}">{{ message }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>