<li class="list-group-item superior editable">
    <div class="row d-none d-sm-none d-md-flex">
        <div class="col-md-3">
            <button
                    type="button"
                    title="Dodaj podwładnego"
                    class="btn btn-success modal_action tooltip-on"
                    data-toggle="modal"
                    data-target="#listModal"
                    data-href="{{ path('user_add', {'type' : 'user', 'superiorId' : superior.getId()}) }}"
            >
                <i class="fas fa-user-plus"></i>
            </button>
            <button
                    type="button"
                    title="Edytuj"
                    class="btn btn-primary modal_action tooltip-on"
                    data-toggle="modal"
                    data-target="#listModal"
                    data-href="{{ path('user_edit', {'type' : 'superior', 'id' : superior.id }) }}"
            >
                <i class="fas fa-user-edit"></i>
            </button>
            {% if inferior is empty %}
            <button
                    type="button"
                    title="Usuń"
                    class="btn btn-danger user_delete tooltip-on"
                    data-toggle="popover"
                    data-user_id="{{ superior.id }}"
                    data-href="{{ path('user_delete', {'id' : superior.id }) }}"

            >
                <i class="fas fa-user-times"></i>
            </button>
            {% endif %}
        </div>
        <div class="col-md-2">{{ superior.surname }} {{ superior.name }}</div>
        <div class="col-md-2">{{ superior.username }}</div>
        <div class="col-md-2">{{ superior.email }}</div>
        <div class="col-md-2">{{ superior.birthdate | date('Y-m-d')  }}</div>
    </div>
    <div class="row d-sm-block d-md-none">
        <div class="col-12">
            <button
                    type="button"
                    title="Dodaj podwładnego"
                    class="btn btn-success modal_action tooltip-on"
                    data-toggle="modal"
                    data-target="#listModal"
                    data-href="{{ path('user_add', {'type' : 'user', 'superiorId' : superior.getId()}) }}"
            >
                <i class="fas fa-user-times"></i>
            </button>
            <button
                    type="button"
                    title="Edytuj"
                    class="btn btn-primary modal_action tooltip-on"
                    data-toggle="modal"
                    data-target="#listModal"
                    data-href="{{ path('user_edit', {'type' : 'superior', 'id' : superior.id }) }}"
            >
                <i class="fas fa-user-edit"></i>
            </button>
            {% if inferior is empty %}
                <button
                        type="button"
                        title="Usuń"
                        class="btn btn-danger user_delete tooltip-on"
                        data-toggle="popover"
                        data-user_id="{{ superior.id }}"
                        data-href="{{ path('user_delete', {'id' : superior.id }) }}"

                >
                    <i class="fas fa-user-times"></i>
                </button>
            {% endif %}
            {{ superior.surname }} | {{ superior.username }} | {{ superior.email }}
        </div>
    </div>
</li>