<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Formularz rejestracji nowego {{ formDetails['headerName'] }} {% if(formDetails['headerAdditional'] is not empty) %}{{ formDetails['headerAdditional'] }}{% endif %}
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-success" value="Dodaj użytkownika">
                {{ form_end(form) }}
            </div>
            <div class="card-footer">
                {% if message != '' %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
