{% extends "h_split.html.twig" %}

{% block title %}Lista pracowników{% endblock %}

{% block head %}
    <a href="{{ path("panel") }}">
        <button title="Powrót do panelu głównego" type="button" class="btn btn-primary">
            <i class="fas fa-reply"></i>
        </button>
    </a>
    <button
            type="button"
            title="Dodaj przełożonego"
            class="btn btn-success modal_action tooltip-on"
            data-toggle="modal"
            data-target="#listModal"
            data-href="{{ path("superior_add", {'type' : 'superior'}) }}"
    >
        <i class="fas fa-user-ninja"></i>
        <i class="fas fa-plus"></i>
    </button>
{% endblock %}

{% block rest %}
    {% if superiorArray is not empty %}
        {% for superior in  superiorArray %}
            <ul class="list-group">
                {% include '@AdminModule/user_list_superior_row.html.twig' with {'superior' : superior['superior'], 'inferior' : superior['inferior']} %}
                <ol>
                {% if superior['inferior'] is not empty %}
                    {% for  user in superior['inferior'] %}
                        {% include '@AdminModule/user_list_user_row.html.twig' with {'user' : user} %}
                    {% endfor %}
                {% endif %}
                </ol>
            </ul>
        {%  endfor %}
    {% else %}
        <div class="alert alert-danger">Baza danych nie zawiera żadnych użytkowników</div>
    {% endif %}
    <div id="listModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin_module/user_list.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin_module/user_list.js') }}"></script>
{% endblock %}