<li class="list-group-item" id="user_{{ user.id }}">
    <div class="row d-none d-sm-none d-md-flex">
        <div class="col-md-2">
            <button type="button" title="Usuń" class="btn btn-danger user_delete tooltip-on" data-toggle="popover"  data-user_id="{{ user.id }}" data-href="{{ path('user_delete', {'id' : user.id }) }}">
                <i class="fas fa-user-times"></i>
            </button>
            <button
                    type="button"
                    title="Edytuj"
                    class="btn btn-primary modal_action tooltip-on"
                    data-toggle="modal"
                    data-target="#listModal"
                    data-href="{{ path('user_edit', {'type' : 'user', 'id' : user.id }) }}"
            >
                <i class="fas fa-user-edit"></i>
            </button>
        </div>
        <div class="col-md-2">{{ user.group.name }}</div>
        <div class="col-md-2">{{ user.surname }} {{ user.name }}</div>
        <div class="col-md-2">{{ user.username }}</div>
        <div class="col-md-2">{{ user.email }}</div>
        <div class="col-md-2">{{ user.birthdate | date('Y-m-d')  }}</div>
    </div>
    <div class="row d-sm-block d-md-none">
        <div class="col-12">
            <button type="button" title="Usuń" class="btn btn-danger user_delete tooltip-on" data-toggle="popover"  data-user_id="{{ user.id }}" data-href="{{ path('user_delete', {'id' : user.id }) }}">
                <i class="fas fa-user-times"></i>
            </button>
            <button
                    type="button"
                    title="Edytuj"
                    class="btn btn-primary modal_action tooltip-on"
                    data-toggle="modal"
                    data-target="#listModal"
                    data-href="{{ path('user_edit', {'type' : 'user', 'id' : user.id }) }}"
            >
                <i class="fas fa-user-edit"></i>
            </button>
            {{ user.group.name }} | {{ user.surname }} | {{ user.name }} | {{ user.email }}
        </div>
    </div>
</li>