.calendar {
    border-collapse: separate !important;
    margin: 0px;

}

.calendar th {
    padding: 0.2em;
    background: #e9ecef;
}

.calendar td {
    padding: 0.3em;
    min-width: 3em;
    min-height: 3em;
}

.month {
    background: #D5DBE0 !important;
}

.u-cell{
    min-width: 200px !important;
    padding: 0px;
}

#calendar_container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.container {
    width: 100%;
    max-width: none;
}
.a-cell {
    color: darkslategray;
    cursor: help;
}

.c-cell {

}

.a-pending {
    border: 2px dotted red !important;
    cursor: pointer;
}

.a-initial {
    border: 2px dashed #0f9e00 !important;
    cursor: pointer;
}

.a-cancelled {
    border: 2px solid black !important;
    cursor: pointer;
}

.hp-cell {
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    z-index: 980;
    cursor: grab;
}

.form-inline {
    justify-content: left !important;
}