{% extends remote ? "base.html.twig" : "minimal.html.twig" %}
{% block body %}
    <i id="wait" style="display:none;" class="fas fa-cog fa-spin text-primary align-self-center"></i>
    {%  if form is not empty %}
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-sm-12 text-center">{{ form_label(form.rejectedReason) }}</div>
            <div class="col-sm-12 text-center">{{ form_errors(form.rejectedReason) }}</div>
            <div class="col-sm-12 text-center">{{ form_widget(form.rejectedReason) }}</div>
        </div>
        <div class="row text">
            <div class="col-sm-12 text-center">{{ form_widget(form.submit) }}</div>
        </div>
        {{ form_end(form) }}

    {% else  %}
        {% if  message is not empty %}
            <div class="alert {{ alertClass }}" role="alert">{{ message|nl2br }}</div>
        {% endif %}
    {% endif %}
{% endblock %}

