{% extends "h_split.html.twig" %}

{% block title %}Wnioski urlopowe{% endblock %}

{% block head %}
    <div class="row">
        <div class="col-12">
            <a href="{{ path("panel") }}">
                <button class="btn btn-primary" title="Powrót">
                    <i class="fas fa-reply"></i>
                </button>
            </a>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row filters" style="visibility: hidden;">
        <div class="col-md-2">
            <div>
                <div class="row">
                    <div class="col-md-8 offset-md-4">{{ form_errors(form.year) }}</div>
                    <div class="col-md-8 offset-md-4 text-left">{{ form_label(form.year) }}</div>
                    <div class="col-md-8 offset-md-4">{{ form_widget(form.year) }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <div class="row">
                    <div class="col-md-12">{{ form_errors(form.user) }}</div>
                    <div class="col-md-12 text-left">{{ form_label(form.user) }}</div>
                    <div class="col-md-12">{{ form_widget(form.user) }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">{{ form_errors(form.type) }}</div>
                <div class="col-md-12 text-left">{{ form_label(form.type) }}</div>
                <div class="col-md-12">{{ form_widget(form.type) }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">{{ form_errors(form.status) }}</div>
                <div class="col-md-12 text-left">{{ form_label(form.status) }}</div>
                <div class="col-md-12">{{ form_widget(form.status) }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 d-flex">&nbsp;</div>
                <div class="col-md-12 d-flex text-center">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block rest %}
    {% if a is not empty %}
        {% for ab  in a %}
            <div id="absence_{{ ab.id }}">
                {% include '@AbsenceModule/absence_card.html.twig' with {'ab' : ab} %}
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger">Brak wniosków dla wybranych kryteriów</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/absence_module/absence_list.js') }}"></script>
{% endblock %}
