<div class="card absence-card mb-4">
    <div class="card-header absence-header" title="{{ ab.type.description }}">
        <div>{{ ab.user.surname }} {{ ab.user.name }}</div>
        <span class="{{ statusStyle(ab.status.name) }}">{{ ab.status.description }}</span> {{ ab.type.code }} {{ ab.fromDate | date('Y-m-d') }} - {{ ab.toDate | date('Y-m-d') }} D:{{ ab.days }}
    </div>
    <div class="card-body">
        <div>Data złożenia wniosku: {{ ab.createDate | date('Y-m-d H:i') }}</div>
        <div>Data zmiany statusu:
            {% if ab.statusChangeDate is not empty %}
                {{ ab.statusChangeDate | date('Y-m-d H:i') }}
            {%  else %}---
            {% endif %}
        </div>
        {% if ab.commentary is not empty %}
            <div>Komentarz: {{ ab.commentary }}</div>
        {% endif %}
        {% if ab.rejectedReason is not empty %}
            <div>Powód odrzucenia: {{ ab.rejectedReason }}</div>
        {% endif %}
        {% if is_granted('ROLE_SUPERIOR') %}
            <div class="action mt-3">
                {% if ab.status.name == 'pending' %}
                    <button data-status="initial" data-absence_id="{{ ab.id }}" data-toggle="popover" class="btn btn-outline-primary absence_initial" data-href="{{ path("absence_action", {'id' : ab.id, 'status' : 'initial'}) }}" title="Akceptacja wstępna">
                        <i class="fas fa-handshake"></i>
                    </button>
                    <button data-status="accept" data-absence_id="{{ ab.id }}" data-toggle="popover" class="btn btn-outline-success absence_accept" data-href="{{ path("absence_action", {'id' : ab.id, 'status' : 'accepted'}) }}" title="Akceptacja">
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                    <button data-status="reject" data-absence_id="{{ ab.id }}" data-toggle="popover" class="btn btn-outline-danger absence_reject" data-href="{{ path("absence_action", {'id' : ab.id, 'status' : 'rejected'}) }}" title="Odrzucenie">
                        <i class="fas fa-thumbs-down"></i>
                    </button>
                {% endif %}
                {% if ab.status.name == 'initial' %}
                    <button data-status="accept" data-absence_id="{{ ab.id }}" data-toggle="popover" class="btn btn-outline-success absence_accept" data-href="{{ path("absence_action", {'id' : ab.id, 'status' : 'accepted'}) }}" title="Akceptacja">
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                    <button data-status="reject" data-absence_id="{{ ab.id }}" data-toggle="popover" class="btn btn-outline-danger absence_reject" data-href="{{ path("absence_action", {'id' : ab.id, 'status' : 'rejected'}) }}" title="Odrzucenie">
                        <i class="fas fa-thumbs-down"></i>
                    </button>
                {% endif %}
                {% if  ab.status.name == 'cancelled' %}
                    <button data-status="accept" data-absence_id="{{ ab.id }}" data-toggle="popover" class="btn btn-outline-danger absence_accept" data-href="{{ path("absence_action", {'id' : ab.id, 'status' : 'accepted'}) }}" title="Odrzuć anulowanie absencji">
                        <i class="fas fa-times-circle"></i>
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>