<br>
<table style="border-collapse: collapse">
    <thead>
    <tr>
        <th colspan="7" style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white; text-align: center">
            <h3>Zmiana statusu wniosku</h3>
        </th>
    </tr>
    <tr>
        <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Użytkownik</th>
        <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Typ urlopu</th>
        <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Od</th>
        <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Do</th>
        <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Ilość dni</th>
        <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Status zmieniono</th>
        <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Status zmienił</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ absence.user.surname }} {{ absence.user.name }}</td>
        <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ absence.type.description }}</td>
        <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ absence.fromDate|date("d-m-Y") }}</td>
        <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ absence.toDate|date("d-m-Y") }}</td>
        <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ absence.days }}</td>
        <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ absence.statusChangeDate|date('Y-m-d H:i') }}</td>
        <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ sender.surname }} {{ sender.name }}</td>
    </tr>
    <tr>
        <td colspan="7" style="border: 1px solid silver; padding: 1em; text-align: center">
            <h3>Status:
                <span style="color: {{ statusStyleMail(absence.status.getName()) }}">
                    {{ absence.status.getDescription() }}
                </span>
            </h3>
        </td>
    </tr>
    {% if absence.status.name == 'rejected' %}
    <tr>
        <td colspan="7" style="border: 1px solid silver; padding: 1em;">Powód: <br>{{ absence.rejectedReason }}</td>
    </tr>
    {% endif %}
    {% if link is not null %}
        <tr>
            <td colspan="7" style="border: 1px solid silver; padding: 1em; text-align: center">
                <a style="color: red;" href="{{ link }}"><h3>ODRZUĆ ANULOWANIE ABSENCJI</h3></a>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
<br>
<p>Wiadomość wygenerowano automatycznie</p>