{% if  calendar is defined %}
    {% for  month, monthData in calendar %}
        <table class="calendar table-bordered mt-4">
            <thead class="text-center thead-light">
            <tr>
                <th class="month"> {{ months[month] }} </th>
                {% for day, dayData in monthData %}
                    <th class="{% if dayData.weekDay in [6,7] or dayData.holiday.description is defined %}text-danger{% endif %}">{{ day }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody >
            {% for userData in users %}
                <tr class="bg-white u-row">
                    <td class="u-cell bg-white">{{ userData.surname }} {{ userData.name }}</td>
                    {% for day, dayData in monthData %}
                        {% if absence[userData.id][month][day] is defined %}
                            {% set abs = absence[userData.id][month][day] %}
                            <td
                                    data-absence_id = "{{ abs.id }}"
                                    data-status = "{{ abs.status.name }}"

                                    title="{{ abs.type.description }}</br>{{ abs.fromDate | date('Y-m-d') }} - {{ abs.toDate | date('Y-m-d') }}"
                                    style="background: {{ abs.type.color }};"
                                    class="c-cell a-cell text-center
                                            {% if abs.status.name == 'pending' %}a-pending{% endif %}
                                            {% if abs.status.name == 'initial' %}a-initial{% endif %}
                                            {% if abs.status.name == 'cancelled' %}a-cancelled{% endif %}
                                        "

                                    {% if is_granted('ROLE_SUPERIOR') %}
                                        {% if abs.status.name in ['pending', 'initial', 'cancelled'] %}
                                            data-toggle="popover"
                                        {% else %}
                                            data-toggle="tooltip"
                                        {% endif %}
                                    {% else %}
                                        data-toggle="tooltip"
                                    {% endif %}
                            >
                                {{ abs.type.code }}
                            </td>
                        {% else %}
                            <td class="c-cell text-center
                                        {% if dayData.holiday.description is defined or dayData.weekDay in [6,7]%}
                                            text-danger bg-light
                                        {% endif %}
                                    "
                                    {% if dayData.holiday.description is defined %}
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="{{ dayData.holiday.description }}"
                                    {% endif %}
                            >
                                {% if dayData.holiday.description is defined %}
                                    {{ dayData.dayType.dayType }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endif %}