<div class="text-center">

    {% if status == 'cancelled' %}
        <button id="absence_re-accept" type="button" class="btn btn-outline-danger" data-status="accepted" data-href="{{ path("absence_action", {'id' : absenceId, 'status': 'accepted'}) }}" title="Odrzuć anulowanie">
            <i class="fas fa-redo"></i>
        </button>
    {% else %}
        {% if status == 'pending' %}
        <button id="absence_initial" data-status="initial" class="btn btn-outline-primary" data-href="{{ path("absence_action", {'id' : absenceId, 'status' : 'initial'}) }}" title="Akceptacja wstępna">
            <i class="fas fa-handshake"></i>
        </button>
        {% endif %}
        <button id="absence_accept" class="btn btn-outline-success" data-status="accepted" data-href="{{ path("absence_action", {'id' : absenceId, 'status' : 'accepted'}) }}" title="Akceptuj">
            <i class="fas fa-thumbs-up"></i>
        </button>
        <button id="absence_reject" type="button" class="btn btn-outline-danger" data-status="rejected" data-href="{{ path("absence_action", {'id' : absenceId, 'status': 'rejected'}) }}" title="Odrzuć">
            <i class="fas fa-thumbs-down"></i>
        </button>
    {% endif %}
    <i id="wait" style="display:none;" class="fas fa-cog fa-spin text-primary"></i>
</div>
