{% extends "h_split.html.twig" %}

{% block title %}Wnioski urlopowe{% endblock %}

{% block head %}
    <a href="{{ path("panel") }}">
        <button class="btn btn-primary float-left" title="Powrót">
            <i class="fas fa-reply"></i>
        </button>
    </a>
    {{ form_start(form) }}
    <div class="row filters" style="visibility: hidden;">
        <div class="col-md-2">
            <div>
                <div class="row">
                    <div class="col-md-8 offset-md-4">{{ form_errors(form.year) }}</div>
                    <div class="col-md-8 offset-md-4 text-center">{{ form_label(form.year) }}</div>
                    <div class="col-md-8 offset-md-4">{{ form_widget(form.year) }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <div class="row">
                    <div class="col-md-12">{{ form_errors(form.user) }}</div>
                    <div class="col-md-12 text-center">{{ form_label(form.user) }}</div>
                    <div class="col-md-12">{{ form_widget(form.user) }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">{{ form_errors(form.type) }}</div>
                <div class="col-md-12 text-center">{{ form_label(form.type) }}</div>
                <div class="col-md-12">{{ form_widget(form.type) }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">{{ form_errors(form.status) }}</div>
                <div class="col-md-12 text-center">{{ form_label(form.status) }}</div>
                <div class="col-md-12">{{ form_widget(form.status) }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 d-flex">&nbsp;</div>
                <div class="col-md-12 d-flex">
                    {{ form_widget(form.submit) }}
                    <i id="wait" class="fas fa-cog fa-2x text-primary ml-3 fa-spin" style="display: none;"></i>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block rest %}
    <div id="calendar_data"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/calendar_module/calendar_view.css') }}"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/calendar_module/calendar_view.js') }}"></script>
{% endblock %}