<td style="cursor: help;" class="text-center align-middle" title="{{ ab.type.description }}">{{ ab.type.code }}</td>
<td class="text-center align-middle text-nowrap">{{ ab.createDate | date('Y-m-d H:i') }}</td>
<td class="text-center align-middle text-nowrap">{{ ab.fromDate | date('Y-m-d') }} : {{ ab.toDate | date('Y-m-d') }}</td>
<td class="text-center align-middle">{{ ab.days }}</td>
<td class="text-center align-middle"><div class="{{ statusStyle(ab.status.name) }} p-2">{{ ab.status.description }}</div></td>
<td class="text-center align-middle text-nowrap">
    {% if ab.statusChangeDate is not empty %}
        {{ ab.statusChangeDate | date('Y-m-d H:i') }}
    {%  else %}---
    {% endif %}
</td>
<td class="text-right align-middle">{{ ab.commentary }}</td>
<td class="text-center align-middle">
    {% if ab.rejectedReason is not empty %}
        {{ ab.rejectedReason }}
    {%  else %}---
    {% endif %}
</td>
<td>
    {% if ab.status.name in ['pending', 'initial'] and ab.fromDate > date('now') %}
        <button title="Wycofaj" class="btn btn-secondary withdrawn absence-row" data-toggle="popover" data-status="withdrawn" data-absence_id="{{ ab.id }}" data-href="{{ path("worker_absence_action", {'id' : ab.id, 'status': 'withdrawn'}) }}"><i class="fas fa-redo"></i></button>
    {% endif %}
    {% if ab.status.name == 'accepted' %}
        <button title="Anuluj" class="btn btn-dark cancelled absence-row" data-toggle="popover" data-status="cancelled" data-absence_id="{{ ab.id }}" data-href="{{ path("worker_absence_action", {'id' : ab.id, 'status': 'cancelled'}) }}"><i class="fas fa-trash"></i></button>
    {% endif %}
</td>