{% extends "h_split.html.twig" %}

{% block title %}Limity nieobecności{% endblock %}

{% block head %}
    <a href="{{ path("panel") }}">
        <button class="btn btn-primary" title="Powrót">
            <i class="fas fa-reply"></i>
        </button>
    </a>
{% endblock %}

{%  block rest %}
    {% if aDict is empty %}
        <div class="alert alert-danger">Słownik nieobecności jest pusty, skontaktuj się z administratorem</div>
    {% else %}
        {% if aLimit is not empty %}
            {% for ad in aDict %}
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                                <th colspan="6" class="text-center">{{ ad.description }}</th>
                        </tr>
                        <tr>
                            <th class="text-center">Rok</th>
                                <th class="text-center" title="Limit" data-toggle="tooltip">Lim</th>
                                {% for asd in aStatusDict  %}
                                    <th class="text-center" data-toggle="tooltip" title="{{ asd.description|capitalize }}"><i class="{{ i[asd.name]['icon'] }} {{ i[asd.name]['color'] }}"></i></th>
                                {% endfor %}
                                <th class="text-center" data-toggle="tooltip" title="Suma dni z wniosków oczekujących, zaakceptowanych i wstępnie zaakceptowanych">&Sigma;</th>
                                <th class="text-center" data-toggle="tooltip" title="Różnica pomiędzy sumą a limitem">Pozostało</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for year, alData in aLimit %}
                            <tr>
                                <td class="text-center">
                                    {{ year }}
                                </td>
                                {% if alData[ad.id] is defined %}
                                    <td class="text-right">{{ alData[ad.id] }}</td>
                                {% else %}
                                    <td>brak</td>
                                {%  endif %}
                                {% for asd in aStatusDict %}
                                    <td class="text-right">
                                        {% if aDays[ad.id][year][asd.id] is defined %}{{ aDays[ad.id][year][asd.id] }}{% else %}0{% endif %}
                                    </td>
                                {% endfor %}
                                <td class="text-right">
                                    {% if aDays[ad.id][year]['sum'] is defined %}{{ aDays[ad.id][year]['sum'] }}{% else %}0{% endif %}
                                </td>
                                <td class="text-right">
                                    {% if aDays[ad.id][year]['sum'] is defined and alData[ad.id] is defined %}
                                        {% set result = alData[ad.id] - aDays[ad.id][year]['sum'] %}
                                        {{ result }}
                                    {% elseif alData[ad.id] is defined %}
                                        {{ alData[ad.id] }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    <tr class="table-primary font-weight-bold">
                        <td class="text-right">Suma:</td>
                            <td class="text-right">
                                {% if aLimitSum[ad.id] is defined %}{{ aLimitSum[ad.id] }}{% else %}0{% endif %}
                            </td>
                            {% for asd in aStatusDict %}
                                <td class="text-right">{{ aDays[ad.id][asd.id]['sum'] }}</td>
                            {% endfor %}
                            <td class="text-right">{{ aDays[ad.id]['sum'] }}</td>
                            <td class="text-right">
                                {% if aLimitSum[ad.id] is defined and aDays[ad.id]['sum'] is defined %}
                                    {% set result = aLimitSum[ad.id] - aDays[ad.id]['sum'] %}
                                    {{ result }}
                                {% elseif aLimitSum[ad.id] is defined %}
                                    {{ aLimitSum[ad.id] }}
                                {% endif %}
                            </td>

                    </tr>
                    </tbody>
                </table>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger">Brak ustawionych limitów nieobecności, skontaktuj się z administratorem</div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/worker_module/absence_limit.js') }}"></script>
{% endblock %}