<div class="card-header absence-header" title="{{ ab.type.description }}">
    <span class="{{ statusStyle(ab.status.name) }}">{{ ab.status.description }}</span> {{ ab.type.code }} {{ ab.fromDate | date('Y-m-d') }} - {{ ab.toDate | date('Y-m-d') }} D:{{ ab.days }}
</div>
<div class="card-body">
    <div>Data złożenia wniosku: {{ ab.createDate | date('Y-m-d H:i') }}</div>
    <div>Data zmiany statusu:
        {% if ab.statusChangeDate is not empty %}
            {{ ab.statusChangeDate | date('Y-m-d H:i') }}
        {%  else %}---
        {% endif %}
    </div>
    {% if ab.commentary is not empty %}
        <div>Komentarz: {{ ab.commentary }}</div>
    {% endif %}
    {% if ab.rejectedReason is not empty %}
        <div>Poród odrzucenia: {{ ab.rejectedReason }}</div>
    {% endif %}
    {% if ab.status.name in ['pending', 'initial'] and ab.fromDate > date('now') %}
        <button title="Wycofaj" class="btn btn-secondary withdrawn mt-4 absence-card" data-toggle="popover" data-status="withdrawn" data-absence_id="{{ ab.id }}" data-href="{{ path("worker_absence_action", {'id' : ab.id, 'status': 'withdrawn'}) }}"><i class="fas fa-redo"></i></button>
    {% endif %}
    {% if ab.status.name == 'accepted' %}
        <button title="Anuluj" class="btn btn-dark withdrawn mt-4 absence-card" data-toggle="popover" data-status="cancelled" data-absence_id="{{ ab.id }}" data-href="{{ path("worker_absence_action", {'id' : ab.id, 'status': 'cancelled'}) }}"><i class="fas fa-trash"></i></button>
    {% endif %}
</div>