<ul class="list-group">
    <li class="list-group-item list-group-item">W wybranym okresie użytkownicy twojej grupy mają wypisane wnioski:</li>
    {% for a in absences %}
        <li class="list-group-item" {% if a.user.id == app.user.id %}title="W tym okresie masz już wypisany wniosek. System nie pozwoli zapisać wypisywanego wniosku"{% endif %}>
            {% if a.user.id == app.user.id %}<i class="fas fa-exclamation-triangle text-danger breathing"></i>{% endif %}
            {{ a.fromDate | date('Y-m-d') }} - {{ a.toDate | date('Y-m-d')}}: {{ a.user.surname }} {{ a.user.name }} - {{ a.status.description }}
        </li>
    {% endfor %}
</ul>
