{% extends "h_split.html.twig" %}

{% block title %}Moje nieobecności{% endblock %}

{% block head %}
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path("panel") }}">
                <button class="btn btn-primary" title="Powrót">
                    <i class="fas fa-reply"></i>
                </button>
            </a>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row filters" style="visibility: hidden;">
        <div class="col-md-2">
            <div>
                <div class="row">
                    <div class="col-md-8 offset-md-4">{{ form_errors(form.year) }}</div>
                    <div class="col-md-8 offset-md-4 text-left">{{ form_label(form.year) }}</div>
                    <div class="col-md-8 offset-md-4">{{ form_widget(form.year) }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">{{ form_errors(form.type) }}</div>
                <div class="col-md-12 text-left">{{ form_label(form.type) }}</div>
                <div class="col-md-12">{{ form_widget(form.type) }}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">{{ form_errors(form.status) }}</div>
                <div class="col-md-12 text-left">{{ form_label(form.status) }}</div>
                <div class="col-md-12">{{ form_widget(form.status) }}</div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row">
                <div class="col-md-12 d-flex">&nbsp;</div>
                <div class="col-md-12 d-flex text-center">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block rest %}
    {% if a is not empty %}
        <table class="table table-hover d-none d-lg-table table-bordered">
            <thead class="thead-light">
            <th class="text-center align-middle">{{ knp_pagination_sortable(a, 'Typ', 'type') }}</th>
            <th class="text-center align-middle">{{ knp_pagination_sortable(a, 'Data złożenia', 'createDate') }}</th>
            <th class="text-center align-middle">{{ knp_pagination_sortable(a, 'Od : Do', 'fromDate') }}</th>
            <th class="text-center align-middle">{{ knp_pagination_sortable(a, 'Dni', 'days') }}</th>
            <th class="text-center align-middle">{{ knp_pagination_sortable(a, 'Status', 'status') }}</th>
            <th class="text-center align-middle">{{ knp_pagination_sortable(a, 'Zmiana statusu', 'statusChangeDate') }}</th>
            <th class="text-center align-middle">Uwagi</th>
            <th class="text-center align-middle">Komentarz przełożonego</th>
            <th class="text-center align-middle">Akcja</th>
            </thead>
            <tbody>
                {% for ab in a %}
                    <tr id="absence_row_{{ ab.id }}">
                        {% include '@WorkerModule/absence_row.html.twig' with {'ab' : ab} %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for ab  in a %}
            <div id="absence_card_{{ ab.id }}" class="card absence-card d-md d-lg-none mb-4">
                {% include '@WorkerModule/absence_card.html.twig' with {'ab' : ab} %}
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger">Brak wniosków dla wybranych kryteriów</div>
    {% endif %}
    <div class="navigation">
        {{ knp_pagination_render(a) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/worker_module/my_absence.js') }}"></script>
{% endblock %}
