{% extends "h_split.html.twig" %}

{% block title %}Nowy wniosek{% endblock %}

{% block head %}
    <a href="{{ path("panel") }}">
        <button class="btn btn-primary" title="Powrót">
            <i class="fas fa-reply"></i>
        </button>
    </a>
{% endblock %}

{% block rest %}
    <div class="card">
        <div class="card-header">Nowy wniosek</div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="submit btn btn-success" title="Wyślij wniosek">
                <i class="fas fa-rocket"></i>
                <span>Wyślij</span>
            </button>
            {{ form_end(form) }}
            <div id="group_absences" class="mt-3"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <<link rel="stylesheet" href="{{ asset('css/absence_module/new_absence.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/worker_module/new_absence.js') }}"></script>
{% endblock %}

