<!doctype html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Witaj!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app/jquery-ui.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/app/jquery-ui.structure.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/app/jquery-ui.theme.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/app/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/app/bootstrap-grid.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/app/bootstrap-reboot.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/app/bootstrap-multiselect.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/app/all.css') }}"/>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark sticky-top">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">
                            <i class="fas fa-sign-out-alt fa-lg" title="Wyloguj"></i><span class="ml-2">Wyloguj</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('panel') }}" title="Panel">
                            <i class="far fa-user fa-lg"></i><span class="ml-2">{{ app.user.surname }} {{ app.user.name }}</span>
                        </a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">
                            <i class="fas fa-sign-in-alt fa-lg" title="Zaloguj"></i><span class="ml-2">Zaloguj</span>
                        </a>
                    </li>
                </ul>
                {% endif %}
        </nav>

        <main role="main" class="container" style="margin-top: 3em;">
            {% for message in app.flashes('notice') %}<div class="alert alert-notice" role="alert">{{ message|nl2br }}</div>{% endfor %}
            {% for message in app.flashes('warning') %}<div class="alert alert-warning" role="alert">{{ message|nl2br }}</div>{% endfor %}
            {% for message in app.flashes('error') %}<div class="alert alert-danger" role="alert">{{ message|nl2br }}</div>{% endfor %}
            {% for message in app.flashes('success') %}<div class="alert alert-success" role="alert">{{ message|nl2br }}</div>{% endfor %}
            {% block body %}{% endblock %}
            {% block javascripts %}
                <script src="{{ asset('js/app/jquery-3.3.1.min.js') }}"></script>
                <script src="{{ asset('js/app/jquery-ui.min.js') }}"></script>
                <script src="{{ asset('js/app/popper.min.js') }}"></script>
                <script src="{{ asset('js/app/bootstrap.min.js') }}"></script>
                <script src="{{ asset('js/app/bootstrap.bundle.min.js') }}"></script>
                {#<script src="{{ asset('js/app/fontawesome-all.js') }}"></script>#}
                <script src="{{ asset('js/app/bootstrap-multiselect.js') }}"></script>
            {% endblock %}
        </main>
    </body>
</html>
