{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    {% block head %}
        <a href="{{ path("panel") }}">
            <button class="btn btn-primary" title="Powrót">
                <i class="fas fa-reply"></i>
            </button>
        </a>
    {% endblock %}
    <hr>
    {% block rest %}{% endblock %}
{% endblock %}