<div class="col-md-3 col-sm-4">
    <div class="card">
        <a class="text-center" href="{{ path('holiday_matrix') }}">
            <div class="card-block p-4">
                <i class="fas fa-calendar-alt panel"></i>
            </div>
            <div class="card-body">
                <div class="card-title">Matryca świąt</div>
            </div>
        </a>
        <div class="card-footer text-center"></div>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="card">
        <a class="text-center" href="{{ path('calendar_generate') }}">
            <div class="card-block p-4">
                <span class="fa-stack panel" style="font-size: 2.5rem;">
                  <i class="far fa-calendar fa-stack-2x"></i>
                  <i class="fas fa-cogs fa-stack-1x"></i>
                </span>
            </div>
            <div class="card-body">
                <div class="card-title">Generuj kalendarz</div>
            </div>
        </a>
        <div class="card-footer text-center"></div>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="card">
        <a class="text-center" href="{{ path('holiday_dict') }}">
            <div class="card-block p-4">
                <span class="fa-stack panel" style="font-size: 2.5rem;">
                  <i class="far fa-calendar fa-stack-2x"></i>
                  <i class="fas fa-book fa-stack-1x"></i>
                </span>
            </div>
            <div class="card-body">
                <div class="card-title">Słownik świąt</div>
            </div>
        </a>
        <div class="card-footer text-center"></div>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="card">
        <a class="text-center" href="{{ path('absence_dict') }}">
            <div class="card-block p-4">
                <i class="fas fa-book panel"></i>
            </div>
            <div class="card-body">
                <div class="card-title">Słownik nieobecności</div>
            </div>
        </a>
        <div class="card-footer text-center"></div>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="card">
        <a class="text-center" href="{{ path('user_list') }}">
            <div class="card-block p-4">
                <i class="fas fa-sitemap panel"></i>
            </div>
            <div class="card-body">
                <div class="card-title text-center">Hierarchia pracowników</div>
            </div>
        </a>
        <div class="card-footer text-center"></div>
    </div>
</div>
<div class="col-md-3 col-sm-4">
    <div class="card">
        <a class="text-center" href="{{ path('absence_limits', {'year' : variables.absenceLimitsYear, }) }}">
            <div class="card-block p-4">
                <i class="fas fa-hourglass-half panel"></i>
            </div>
            <div class="card-body">
                <div class="card-title">Limity absencji</div>
            </div>
        </a>
        <div class="card-footer text-center"></div>
    </div>
</div>