<div class="col-md-3 col-sm-4 mb-3 d-block d-sm-none">
    <div class="card">
        <a class="text-center" href="{{ path('absence_list') }}">
            <div class="card-block p-4">
                <i class="fas fa-clipboard-list panel" style="color: seagreen"></i>
            </div>
            <div class="card-body">
                <div class="card-title text-center">Wnioski urlopowe</div>
            </div>
        </a>
        <div class="card-footer text-center"></div>
    </div>
</div>