{% extends "base.html.twig" %}

{% block title %}Główny ekran{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-sm-4 mb-3">
            <div class="card">
                <a class="text-center" href="{{ path('user_profile') }}">
                    <div class="card-block p-4">
                        <i class="fas fa-id-card panel"></i>
                    </div>
                    <div class="card-body">
                        <div class="card-title">Profil</div>
                    </div>
                </a>
                <div class="card-footer text-center">
                    Hasło wygasa {{ variables.passwordExpiryDate| expireDate }}
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_GROUP_SUPERVISOR') == true %}
            {% include '@PanelModule/group_supervisor.hrml.twig' %}
        {% endif %}

        {% if is_granted('ROLE_SUPERIOR') == true %}
            {% include '@PanelModule/superior.html.twig' with {'pendingSupervisorCount' : variables.superiorPendingCount} %}
        {% endif %}

        {% if is_granted('ROLE_WORKER') == true %}
            {% include '@PanelModule/worker.html.twig' with {'pendingCount' : variables.pendingCount} %}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') == true %}
            {% include '@PanelModule/admin.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/panel_module/panel.css') }}"/>
{% endblock %}