<div class="col-md-3 col-sm-4 mb-3">
    <div class="card">
        <a class="text-center" href="{{ path('inferior_list') }}">
            <div class="card-block p-4">
                <i class="fas fa-users panel"></i>
            </div>
            <div class="card-body">
                <div class="card-title text-center">Lista podwładnych</div>
            </div>
        </a>
        <div class="card-footer text-center">
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 mb-3 d-none d-sm-block">
    <div class="card">
        <a class="text-center" href="{{ path('calendar_view') }}">
            <div class="card-block p-4">
                <i class="fas fa-calendar-alt panel" style="color: seagreen"></i>
            </div>
            <div class="card-body">
                <div class="card-title text-center">Wnioski urlopowe</div>
            </div>
        </a>
        <div class="card-footer text-center">
            Wniosków oczekuje na akcję: {{ pendingSupervisorCount }}
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 mb-3 d-block d-sm-none">
    <div class="card">
        <a class="text-center" href="{{ path('absence_list') }}">
            <div class="card-block p-4">
                <i class="fas fa-clipboard-list panel" style="color: seagreen"></i>
            </div>
            <div class="card-body">
                <div class="card-title text-center">Wnioski urlopowe</div>
            </div>
        </a>
        <div class="card-footer text-center">
            Wniosków oczekuje na akcję: {{ pendingSupervisorCount }}
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 mb-3">
    <div class="card">
        <a class="text-center" href="{{ path('inferior_absence_limit') }}">
            <div class="card-block p-4">
                <i class="fas fa-hourglass-half panel"></i>
            </div>
            <div class="card-body">
                <div class="card-title">Limity nieobecności</div>
            </div>
        </a>
        <div class="card-footer text-center" style="text-decoration: none; color: dimgrey; height: 5rem;"></div>
    </div>
</div>
