{% extends "h_split.html.twig" %}

{% block title %}Profil{% endblock %}

{% block rest %}
    <div class="card">
        <div class="card-header">
            <h3 class="panel-title">Profil użytkownika</h3>
        </div>
        <table class="table">
            <tr><td>Imię: {{ user.getName() }}</td></tr>
            <tr><td>Nazwisko: {{ user.getSurname() }}</td></tr>
            <tr><td>Data urodzenia: {{ user.getBirthdate() | date('Y-m-d') }}</td></tr>
            <tr><td>Numer PESEL: {{ user.getPesel() }}</td></tr>
            <tr><td>E-mail: {{ user.getEmail() }}</td></tr>
            <tr><td>Hasło wygasa {{ user.getPasswordExpiryDate | expireDate }}</td></tr>
        </table>
    </div>
{% endblock %}