<div class="col-md-3 col-sm-4 mb-3 d-none d-sm-block">
    <div class="card">
        <a class="text-center" href="{{ path('calendar_view') }}">
            <div class="card-block p-4">
                <i class="fas fa-calendar-alt panel" style="color: seagreen"></i>
            </div>
            <div class="card-body">
                <div class="card-title text-center">Wnioski urlopowe</div>
            </div>
        </a>
        <div class="card-footer text-center" style="text-decoration: none; color: dimgrey; height: 5rem;"></div>
    </div>
</div>
<div class="col-md-3 col-sm-4 mb-3">
    <div class="card">
        <a class="text-center" href="{{ path('my_absence') }}">
            <div class="card-block p-4">
                <i class="fas fa-tasks panel"></i>
            </div>
            <div class="card-body">
                <div class="card-title text-center">Moje wnioski</div>
            </div>
        </a>
        <div class="card-footer text-center">
            Oczekujących: {{ pendingCount }}
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 mb-3">
    <div class="card">
        <a class="text-center" href="{{ path('absence_limit') }}">
            <div class="card-block p-4">
                <i class="fas fa-hourglass-half panel"></i>
            </div>
            <div class="card-body">
                <div class="card-title">Limity nieobecności</div>
            </div>
        </a>
        <div class="card-footer text-center"></div>
    </div>
</div>
<div class="col-md-3 col-sm-4 mb-3">
    <div class="card">
        <a class="text-center" href="{{ path('new_absence') }}">
            <div class="card-block p-4">
                <i class="fas fa-paper-plane panel"></i>
            </div>
            <div class="card-body">
                <div class="card-title">Nowy wniosek</div>
            </div>
        </a>
        <div class="card-footer text-center"></div>
    </div>
</div>