{% extends "base.html.twig" %}

{% block title %} Pojawił się błąd{% endblock %}
{% block body %}
        {% if status_code == 500 %},
            <div class="alert alert-danger" role="alert">
                <h3>Ups! Coś poszło nie tak :(</h3>
            </div>
            <h2>
                Błąd aplikacji, skontakruj się z administratorem
            </h2>
        {% elseif status_code == 404 %}
            <div class="alert alert-danger" role="alert">
                <h3>Podana strona nie istnieje :(</h3>
            </div>
            <h2>
                Nie znaleziono żądanej strony
            </h2>
        {% elseif status_code == 403 %}
            <div class="alert alert-danger" role="alert">
                <h3>Brak dostępu :(</h3>
            </div>
            <h2>
                Nie masz dostępu do tej części serwisu
            </h2>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <h3>Ups! Coś poszło nie tak :(</h3>
            </div>
            <h2>
                Nieokreślony błąd, skontakruj się z administratorem
            </h2>
        {% endif %}
{% endblock %}
